REACT_APP_SERVER_URL="http://localhost:3030"
REACT_APP_FRONTEND="http://localhost:3000"
REACT_APP_PROJECT_NAME="happyMansion"
REACT_APP_PROJECT_LABEL="Happy mansion"
REACT_APP_PROJECT_ID="6a372c164c687df63d2bfd93"
REACT_APP_LAST_UPDATED="5/17/2026"
REACT_APP_SECRETKEY="05abcc6601922f3cc0f0e2c6c11ad50888032a281eb6abb28c29cfdac27a12b8"
REACT_APP_EMAIL_DOMAIN="example.com"
REACT_APP_USE_USER_INVITE_SIGNUP=true
REACT_APP_ENV=dev
REACT_APP_DATE="dd/MM/yyyy"
REACT_APP_TIME="hh:mm:ss"
REACT_APP_LANGUAGE="en_MY"
REACT_APP_CURRENCY="MYR"
REACT_APP_COUNTRY="MY"
